#
# OS specific
#
# MacOS
.DS_Store

#
# Editors / debuggers / other output files
#
*~
*.bak
*.orig
*.patch
callgrind.out.*

#
# Git stuff
#
# stgit directories
patches-*

Thumbs.db
Thumbs.db:encryptable


updatepack.sql
nbproject/private/*
.settings/*
cache/*
sql/*
!cache/index.html
!sql/index.html
